.List {
    width: 80%;
    margin: auto;
    margin-bottom: 60px;
    justify-content: space-between;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    letter-spacing: 3px;
    color: #C9CACC;
    position: relative;
}

.List::before {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 30px;
    width: 100%;
    height: 2px;
    background-color: #C9CACC;
}
/* 
.List > div {
    width: 35%;
} */

.List_Amount {
    width: 25%;
}

.Parent_Desc {
    display: grid;
    grid-template-columns: 3fr 1fr;
    width: 100%
}

.List_Amount {
    padding-left: 70px;
    color: white;
}

 .List_Amount p{
    text-align: left;
    width: fit-content;
    padding: 10px;
    border-radius: 4px;
}

.List_Date {
    color: white;
}

.List_Date h1 {
    text-align: right;
    font-size: 22px;
}

.List_Description p {
    font-size: 20px;
}

.List.remove {
    overflow-x: hidden;
    animation: removeListItem .3s ease-out forwards;
}

@keyframes removeListItem {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(-5%);
    }
    100% {
        overflow: hidden;
        transform: translateX(100%);
    }
}


@media (max-width: 1375px) {

    .List_Date h1 {
        font-size: 18px;
    }

    .List_Amount p{
        padding: 7px;
    font-size: 22px;
    }

}

@media (max-width: 1225px) {

    .List {
        width: 90%;
    }

    
}

@media (max-width: 1000px){
    .List_Date {
        font-size: 16px;
    }

}

@media (max-width: 880px) {
    .List::before {
        left: 0;
    }
}

@media (max-width: 768px) {
    .List {
        align-items: center;
        flex-direction: row-reverse;
    }

    .Parent_Desc {
        grid-template-columns: 1fr;
        order: 1;
        padding-left: 20px;
    }

    .List_Description {
        order: 1;
    }

    .List_Date h1 {
        text-align: left;
        font-size: 18px;
        font-weight: 400;
    }

    .List_Description p {
        font-size: 18px;
        text-align: left;
    }

    .List_Amount {
        order: 1;
        padding-left: 0px;
    }
    
}

@media (max-width: 635px) {


    .Parent_Desc {
        grid-gap: 5px;
    }
}

@media (max-width: 425px) {
    .List_Description p{
        font-size: 16px;
    }


    .List_Date h1 {
        font-size: 16px;
    }
}

@media (max-width: 320px) {
    .Parent_Desc {
        padding-left: 0px;
    }
    .List_Amount {
        width: max-content;
    }

    .List_Amount p {
        font-size: 18px;
    }
}